{% extends 'base_venta.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="home-section">
    <div class="container mt-4">
        <h1>Crear Detalle de Venta</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_detalles_venta' venta.id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}