{% extends 'base_detalle_venta.html' %}
{% load static %}
{% block title %}Eliminar Detalles Ventas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    {% include 'admin_dashboard.html' %}
    <div class="home-section">
<h1>Eliminar detalles ventas</h1>
<p>¿Estás seguro de que deseas eliminar el detalle de la venta "{{ venta.nombre }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a href="{% url 'lista_detalles_venta' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}