{% extends 'base_tareas.html' %}
{% load static %}
{% block title %}Eliminar Tarea{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    {% include 'navbar.html' %}
    <div class="home-section">
<h1>Eliminar tarea</h1>
<p>¿Estás seguro de que deseas eliminar la tarea "{{ tarea.nombre }}"?</p>
<form method="post" novalidate>
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a href="{% url 'lista_tareas' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}