{% extends 'base_detalle_compra.html' %}

{% block title %}Crear Detalle Compras{% endblock %}

{% block content %}
<h1>Crear  detalle compra</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field.errors }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'lista_detalles_compra' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}