{% extends 'base_detalle_compra.html' %}
{% load static %}
{% block title %}Editar Detalle Compra{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    {% include 'navbar.html' %}
    <div class="home-section">
        <h2>Editar Detalle Compra</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'lista_detalles_compra' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}