{% extends 'base_detalle_compra.html' %}
{% block title %}Editar Detalle Compra{% endblock %}
{% block content %}
<h1>Editar Detalle Compra</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{% url 'lista_detalles_compra' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}