{% extends 'base_detalle_compra.html' %}
{% load static %}
{% block title %}Eliminar Detalle Compra{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    {% include 'navbar.html' %}
    <div class="home-section">
<h1 class="mb-4">Eliminar Detalle de Compra</h1>
<p>¿Estás seguro de que quieres eliminar el detalle de compra de "{{ detalle.producto }}" en la orden "{{ detalle.compra }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a href="{% url 'lista_detalles_compra' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}