{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Lista de Detalles de Compra</h1>
<a href="{% url 'crear_detalle_compra' %}" class="btn btn-primary mb-3">Crear Detalle de Compra</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Orden de Compra</th>
            <th>producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.orden }}</td>
            <td>{{ detalle.producto}}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio }}</td>
            
            <td>
                <a href="{% url 'editar_detalle_compra' detalle.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'eliminar_detalles_compra' detalle.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}