{% extends 'base_insumos.html' %}
{% load static %}

{% block title %}Lista de Insumos{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'navbar.html' %}
    <div class="breadcrumb">
        <a href="{% url 'admin_dashboard' %}" data-tooltip="Ver Panel de Administración"> PANEL DE ADMINISTRACIÓN </a> &gt; 
        LISTA DE INSUMOS 
        <style> .breadcrumb { background-color: #0E2C40; margin-left: auto; margin-right: auto; display: flex; justify-content: center; align-items: center; padding: 10px; width: 100%; flex-shrink: 0; padding: 10px; color: white; border-bottom: 5px solid rgb(255, 255, 255);} 
            .breadcrumb a { color: white; text-decoration: none; } .breadcrumb span { color: rgb(77, 212, 59);} </style> 
    </div>
    <div class="home-section">
        <div class="content">
            <h1>Lista de Insumos</h1>

            <a href="{% url 'crear_insumos' %}" class="btn btn-primary mb-3">Crear Nuevo Insumo</a>
            
            <form method="GET" class="mb-3">
                <div class="row">
                    <div class="col">
                        <input type="number" name="id" class="form-control" placeholder="ID" value="{{ request.GET.id }}" min="0">
                    </div>
                    <div class="col">
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre" value="{{ request.GET.nombre }}">
                    </div>
                    <div class="col">
                        <input type="text" name="descripcion" class="form-control" placeholder="Descripción" value="{{ request.GET.descripcion }}">
                    </div>
                    <div class="col">
                        <input type="text" name="proveedor" class="form-control" placeholder="Proveedor" value="{{ request.GET.proveedor }}">
                    </div>
                    <div class="col">
                        <input type="number" name="precio" class="form-control" placeholder="Precio" value="{{ request.GET.precio }}" step="0.01" min="0">
                    </div>
                    <div class="col">
                        <input type="number" name="stock" class="form-control" placeholder="Stock" value="{{ request.GET.stock }}" min="0">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </div>
            </form> 


            <table id="elementosTable" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Proveedor</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for insumo in insumos %}
                    <tr>
                        <td>{{ insumo.id}}</td>
                        <td>{{ insumo.nombre }}</td>
                        <td>{{ insumo.descripcion|truncatewords:10 }}</td>
                        <td>{{ insumo.proveedor }}</td>
                        <td>${{ insumo.precio }}</td>
                        <td>{{ insumo.stock }}</td>
                        <td>
                            <a href="{% url 'editar_insumos' insumo.pk %}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{% url 'eliminar_insumos' insumo.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay Insumos disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            
        </div>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-primary mb-3">Volver al Panel de Administración</a>
    </div>
</div>
{% endblock %}