{% extends 'base_compras.html' %}
{% load static %}
{% block title %}Crear Compra{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <link rel="icon" href="{% static 'img/logoardecors.png' %}">
    {% include 'navbar.html' %}
    <div class="breadcrumb">
        <a href="{% url 'lista_compras' %}" data-tooltip="Ver Panel de Administración"> LISTA DE COMPRAS </a> &gt; 
        CREAR NUEVA COMPRA 
        <style> .breadcrumb { background-color: #0E2C40; margin-left: auto; margin-right: auto; display: flex; justify-content: center; align-items: center; padding: 10px; width: 100%; flex-shrink: 0; padding: 10px; color: white; border-bottom: 5px solid rgb(255, 255, 255);} 
            .breadcrumb a { color: white; text-decoration: none; } .breadcrumb span { color: rgb(77, 212, 59);} </style> 
    </div>
    
    
        
    

    <div class="home-section">
<h1>Crear Compra</h1>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Guardar y Agregar Detalles</button>
    <a href="{% url 'lista_compras' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}