{% extends 'base_compras.html' %}
{% load static %}
{% block title %}Crear Compra{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    {% include 'navbar.html' %}

    <!-- Aquí colocamos el breadcrumb -->
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Panel de Administración / Crear Compra</a></li>
    </ul>

    <div class="home-section">
<h1>Crear Compra</h1>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Guardar y Agregar Detalles</button>
    <a href="{% url 'lista_compras' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}