{% extends 'base_compras.html' %}

{% block title %}Lista de Compras{% endblock %}

{% block content %}
<h1>Lista de Compras</h1>
<a href="{% url 'crear_compras' %}" class="btn btn-primary mb-3">Crear Nueva Compra</a>
<a href="{% url 'lista_detalles_compra' %}" class="btn btn-primary mb-3">lista Detalles Compras</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Proveedor</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.fecha|date:"d/m/Y" }}</td>
            <td>{{ compra.proveedor }}</td>
            <td>{{ compra.total|floatformat:2 }}</td>
            <td>
                <a href="{% url 'editar_compras' compra.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'eliminar_compras' compra.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                

                
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay compras disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'admin_dashboard' %}" class="btn btn-primary mb-3">Volver al Panel de Administracion</a>   
{% endblock %}