
{% extends 'base_compras.html' %}
{% load static %}
{% block title %}Lista de Compras{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="home-section">
    

    <h1>Lista de Compras</h1>

    <a href="{% url 'crear_compras' %}" class="btn btn-primary mb-3">Crear Nueva Compra</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Insumos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.fecha|date:"d/m/Y" }}</td>
                <td>{{ compra.proveedor }}</td>
                <td>
                    {% for detalle in compra.detalles.all %}
                        {{ detalle.insumo.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'editar_compras' compra.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'eliminar_compras' compra.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    <a href="{% url 'lista_detalles_compra' compra.pk %}" class="btn btn-sm btn-info">Ver</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay compras disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'admin_dashboard' %}" class="btn btn-primary mb-3">Volver al Panel de Administración</a>
</div>

{% block extra_js %}
{% endblock %}
{% endblock %}