body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/fondo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
}

.container {
  max-width: 1200px;
}

.bg-primary {
  background-color: #232527 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }

  html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}  
