{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <script src="{% static 'js/admin_dashboard.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Panel de Administración</h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2><li><a href="{% url 'lista_usuarios' %}">Usuarios</a></li></h2>
            <!-- Contenido de configuraciones -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_articles' %}">Productos</a></li></h2>
            <!-- Contenido de órdenes de compra -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_ventas' %}">Ventas</a></li></h2>
            <!-- Contenido de ventas -->
        </section>
        <section>
            <h2><li><a href="">Compras</a></li></h2>
            <!-- Contenido de detalles de ventas -->
        </section>
        <section>
            <h2><li><a href="">Proveedores</a></li></h2>
            <!-- Contenido de detalles de órdenes de compra -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_tareas' %}">Tareas</a></li></h2>
            <!-- Contenido de proveedores -->
        </section>
        <section>
            <h2><li><a href="{% url 'ardecors' %}"> Volver al Inicio</a></li></h2>
            <!-- Contenido de productos -->
        </section>
        <section>
            <h2><li><a href="{% url 'iniciar_sesion' %}">Cerrar Sesión</a></li></h2>
            <!-- Contenido de configuraciones -->
        </section>
    </main>
    <footer>
        <p>Ardecors Sport</p>
    </footer>
</body>
</html>