{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <script src="{% static 'js/admin_dashboard.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Panel de Administración - Ardecors</h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2><li><a href="{% url 'lista_usuarios' %}">Usuarios</a></li></h2>
            <!-- Contenido de configuraciones -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_articles' %}">Productos</a></li></h2>
            <!-- Contenido de órdenes de compra -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_ventas' %}">Ventas</a></li></h2>
            <!-- Contenido de ventas -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_compras' %}">Compras</a></li></h2>
            <!-- Contenido de detalles de ventas -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_proveedores' %}">Proveedores</a></li></h2>
            <!-- Contenido de detalles de órdenes de compra -->
        </section>
        <section>
            <h2><li><a href="{% url 'lista_tareas' %}">Tareas</a></li></h2>
            <!-- Contenido de proveedores -->
        </section>
        <section>
            <h2><li><a href="{% url 'ardecors' %}"> Volver al Inicio</a></li></h2>
            <!-- Contenido de productos -->
        </section>
        <section>
            <h2><li><a href="{% url 'iniciar_sesion' %}">Cerrar Sesión</a></li></h2>
            <!-- Contenido de configuraciones -->
        </section>
        <section>
            <h2><li><a href="{% url 'backup_database' %}">Hacer Respaldo</button>
            <button onclick="window.print()">Imprimir Página</button>
        </section>
    </main>
    <footer>
        <p>Ardecors Sport</p>
    </footer>
</body>
</html>