{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="icon" href="{% static 'img/logoardecors.png' %}">
    <link rel="stylesheet" href="{% static 'css/accesibilidad.css' %}">
    <script src="{% static 'js/accesibilidad.js' %}"></script> 
</head>
<body>
    <header>
        <div class="logo">
        <img src="{% static 'img/logoardecors.png' %}" alt="logo"> 

        <div class="button-container">
            
            <h2>rdecors</h2>
            

            <button class="button button-yellow"><a
                href="{% url 'productos' %}">Productos</a></button>
            <button class="button button-green"><a href="{% url 'sobre' %}">Sobre
                Nosotros</a></button>
            <button class="button button-red"><a
                href="{% url 'contacto' %}">Contacto</a></button>
            <button class="button button-yellow"><a
                href="{% url 'login' %}">Acceso a Empleados</a></button>
        </div>

        </nav>
    </header>
    <div class="accesibilidad">
        <button class="accesibilidad__inicio" id="toggle-inicio">
            <img src="{% static 'img/icono-acce.png' %}" alt="inicio" width="55px">
        </button>
        <div class="accesibilidad__buttons hidden" id="toggle-buttons">
            <div class="accesibilidad__container">
                <button class="accesibilidad__boton" id="toggle-contrast">
                    <img class="accesibilidad__boton--img" src="{% static 'img/accesibilidad-contraste.svg' %}" alt="contraste" width="55px">
                    <h6 class="accesibilidad__boton--text">Contraste</h6>
                </button>
            </div>
            <div class="accesibilidad__container">
                <button class="accesibilidad__boton" id="toggle-zoom-in">
                    <img class="accesibilidad__boton--img" src="{% static 'img/accesibilidad-aumento.svg' %}" alt="aumentar" width="55px">
                    <h6 class="accesibilidad__boton--text">Aumentar<br>letra</h6>
                </button>
            </div>
            <div class="accesibilidad__container">
                <button class="accesibilidad__boton" id="toggle-zoom-out">
                    <img class="accesibilidad__boton--img" src="{% static 'img/accesibilidad-disminuir.svg' %}" alt="disminuir" width="55px">
                    <h6 class="accesibilidad__boton--text">Disminuir<br>letra</h6>
                </button>
            </div>
        </div>
    </div>
    <section id="contacto">
        <h1 style="color: white;">Contacto</h1>
        <p style="color: white;">Si deseas ponerte en contacto con nosotros, puedes utilizar los siguientes medios:</p>
        <ul style="color: white;">
            <li style="color: white;">Teléfono: +57 3124933921</li>

            <li style="color: white;">Correo electrónico: ardecors.69@gmail.com <a href="mailto:ardecors.69@gmail.com?subject=Consulta%20desde%20la%20web&body=Hola,%20me%20gustaría%20obtener%20más%20información%20sobre%20sus%20productos."> Enviar Correo</a></li>



            <li style="color: white;">Dirección: Calle 3a # 3-21 MONGUI-BOYACA<a target="_blank" href="https://www.google.com/maps/place/Ardecors+sports/@5.7218778,-72.8498611,15z/data=!4m6!3m5!1s0x8e6a49b9f4c4b665:0xffb662829448ab59!8m2!3d5.7218778!4d-72.8498611!16s%2Fg%2F11t2ycysp5?entry=ttu">.        Cómo llegar a nuestro local</a></li>
        </ul>
        <p style="color: white;">También puedes completar el siguiente formulario y nos pondremos en contacto contigo:</p>

        <!-- Mapa de Google Maps -->
        <div style="width: 100%; height: 400px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.0194122585647!2d-72.85204914933637!3d5.723138595664334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a49b9f4c4b665%3A0xffb662829448ab59!2sArdecors%20sports!5e0!3m2!1ses-419!2sco!4v1692541093097!5m2!1ses-419!2sco"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <style> body {
        background-image: url("{% static 'img/Mongui.png' %}");
        background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-attachment: fixed; /* Hace que la imagen de fondo sea fija cuando se desplaza la página */
        background-position: center; /* Centra la imagen */
    } </style>
    <footer>
        <h3>© 2024 ARDECORS - Todos los derechos reservados</h3>
    </footer>
</body>
</html>
