{% load static %}
<!DOCTYPE html>
<html lang="es">
    <link rel="icon" href="{% static 'img/logoardecors.png' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurar Base de Datos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Restaurar Base de Datos</h1>
        </header>
        
        <main>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>¿Está seguro de que desea restaurar la base de datos desde el archivo <strong>{{ file }}</strong>?</p>
                            <form method="GET" action="{% url 'restore_database' %}">
                                <input type="hidden" name="file" value="{{ file }}">
                                <button type="submit" class="btn btn-danger btn-lg">Restaurar</button>
                                <a href="{% url 'backup_list' %}" class="btn btn-secondary btn-lg">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>