{% extends 'base_proveedor.html' %}
{% load static %}
{% block title %}Editar Proveedores{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    {% include 'navbar.html' %}

    <!-- Aquí colocamos el breadcrumb -->
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Panel de Administración / Editar - Proveedor</a></li>
    </ul>

    <div class="home-section">
<h1>Editar proveedor</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field.errors }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{% url 'lista_ventas' %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
{% endblock %}