/* Accesibilidad styles */
.accesibilidad {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 1000;
}

.accesibilidad__inicio {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.accesibilidad__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.accesibilidad__buttons.hidden {
    opacity: 0;
    visibility: hidden;
}

.accesibilidad__buttons.visible {
    opacity: 1;
    visibility: visible;
}

.accesibilidad__container {
    display: flex;
    align-items: center;
}

.accesibilidad__boton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.accesibilidad__boton--img {
    width: 5    0px;
    height: 70px;
}

.accesibilidad__boton--text {
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
}

/* High contrast mode */

/* Existing styles... */

/* High contrast mode */
body.high-contrast {
    background-color: black;
    color: white;
}

body.high-contrast p,
body.high-contrast a,
body.high-contrast button,
body.high-contrast table,
body.high-contrast th,
body.high-contrast td {
    color: white;
}

body.high-contrast ul {
    color: white;
}

body.high-contrast table,
body.high-contrast th,
body.high-contrast td {
    border-color: white;
}

body.high-contrast table {
    background-color: #333;
}

body.high-contrast th {
    background-color: #444;
}

body.high-contrast td {
    background-color: #222;
}

/* Estilo para los tooltips en modo de alto contraste */
body.high-contrast .tooltip {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

body, table, th, td {
    transition: background-color 0.3s, color 0.3s;
}