{% extends 'base_articles.html' %}

{% load static %}

<link rel="icon" href="{% static 'img/logoardecors.png' %}">
{% block title %}Editar Artículo{% endblock %}

{% block content %}
{% include 'navbar.html' %}

    <!-- Aquí colocamos el breadcrumb -->
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Panel de Administración / Editar Articulos </a></li>
    </ul>

<div class="home-section">
    
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    
<h1>Editar Artículo</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field.errors }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{% url 'lista_articles' %}" class="btn btn-secondary">Cancelar</a>
</form>
<div/>
{% endblock %}