{% extends 'base_articles.html' %}
{% load static %}

{% block title %}Lista de Artículos{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'navbar.html' %}

    <div class="home-section">
        <div class="content">
            <h1>Lista de Artículos</h1>

            <a href="{% url 'crear_articles' %}" class="btn btn-primary mb-3">Crear Nuevo Artículo</a>

            <table id="elementosTable" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.id}}</td>
                        <td>
                            {% if article.imagen %}
                                <img src="{{ article.imagen.url }}" alt="{{ article.nombre }}" style="width: 50px; height: 50px; object-fit: cover;">
                            {% else %}
                                <img src="{% static 'img/placeholder.png' %}" alt="Imagen no disponible" style="width: 50px; height: 50px; object-fit: cover;">
                            {% endif %}
                        </td>

                        <td>{{ article.nombre }}</td>
                        <td>{{ article.descripcion|truncatewords:10 }}</td>
                        <td>${{ article.precio }}</td>
                        <td>{{ article.stock }}</td>
                        <td>
                            <a href="{% url 'editar_articles' article.pk %}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{% url 'eliminar_articles' article.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay artículos disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'admin_dashboard' %}" class="btn btn-primary mb-3">Volver al Panel de Administración</a>
        </div>
    </div>
</div>
{% endblock %}