{% extends 'base_articles.html' %}
{% load static %}

{% block title %}Lista de Artículos{% endblock %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <link rel="icon" href="{% static 'img/logoardecors.png' %}">
{% block content %}
<div class="wrapper">
    {% include 'navbar.html' %}

    
    
    <div class="home-section">
        
        <div class="content">
            <h1>Lista de Artículos</h1>
            
            <a href="{% url 'crear_articles' %}" class="btn btn-primary mb-3">Crear Nuevo Artículo</a>
            
            <form method="get" class="mb-3">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            
            <table id="elementosTable" class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.nombre }}</td>
                        <td>{{ article.descripcion|truncatewords:10 }}</td>
                        <td>${{ article.precio }}</td>
                        <td>{{ article.stock }}</td>
                        <td>
                            <a href="{% url 'editar_articles' article.pk %}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{% url 'eliminar_articles' article.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No hay artículos disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <a href="{% url 'admin_dashboard' %}" class="btn btn-primary mb-3">Volver al Panel de Administración</a>
        </div>
    </div>
</div>
{% endblock %}