{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Lista de Productos</h1>
<a href="{% url 'crear_articles' %}" class="btn btn-primary mb-3">Crear Producto</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>cantidad</th>
            <th>ubicacion</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ articles.nombre }}</td>
            <td>{{ articles.descripcion }}</td>
            <td>{{ articles.cantidad }}</td>
            <td>{{ articles.ubicacion }}</td>
            <td>
                <a href="{% url 'editar_articles' articles.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'eliminar_articles' articles.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}