{% extends "base_usuario.html" %}

{% block title %}Establecer nueva contraseña{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Establecer nueva contraseña</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
            </form>
        {% else %}
            <p>El enlace de restablecimiento de contraseña era inválido, posiblemente porque ya ha sido usado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
        {% endif %}
    </div>
</div>
{% endblock %}