{% extends 'base_usuario.html' %}
{% load static %}

{% block title %}Crear Cuenta - Ardecors{% endblock %}

{% block content %}
<div id="container" class="container">
    <div class="form-container sign-up">
        <form method="post">
            {% csrf_token %}
            <h1>Crear Cuenta</h1>
            {% if form %}
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
            {% else %}
                <p>El formulario no se ha cargado correctamente.</p>
            {% endif %}
            <button type="submit">Registrarse</button>
        </form>
    </div>

    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>¡Bienvenido de nuevo!</h1>
                <p>Introduzca sus datos personales para utilizar todas las funciones del Panel de Administración</p>
                <a href="{% url 'login' %}" class="hidden">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}