{% extends "base_usuario.html" %}
{% load static %}
{% block title %}Editar Usuario{% endblock %}
<link rel="icon" href="{% static 'img/logoardecors.png' %}">
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/articles.css' %}">
{% block content %}
{% include 'navbar.html' %}
<div class="home-section">
<div class="container mt-4">
    <h2>Editar Usuario: {{ user.username }}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>

</div>
<footer>
    <h3>© 2024 ARDECORS - Todos los derechos reservados</h3>
</footer>
{% endblock %}