{% extends "base_usuario.html" %}
{% load static %}

{% block title %}Lista de Usuarios{% endblock %}

<link rel="icon" href="{% static 'img/logoardecors.png' %}">
{% block content %}
{% include 'navbar.html' %}
<div class="home-section">
<div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <a href="{% url 'approve_users' %}" class="btn btn-primary mb-3">Aprobar Usuarios Pendientes</a>
    <table id="elementosTable" class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userprofile.get_role_display }}</td>
                <td>
                    <a href="{% url 'user_edit' user.id %}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{% url 'user_delete' user.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</br>
    <a href="{% url 'user_list' %}" class="btn btn-primary mb-3">Volver al Panel de Administración</a>

    <footer> <h3>© 2024 ARDECORS - Todos los derechos reservados</h3> </footer>
    <style> html, body { height: 100%; margin: 0; padding: 0; } body { display: flex; flex-direction: column; } .content { flex: 1 0 auto; } 
        footer { background-color: #0E2C40; color: #ffffff; display: flex; justify-content: center; align-items: center; padding: 10px; width: 100%; flex-shrink: 0; }
        footer h3 { font-size: 0.8vw; margin: 0; } footer { position: fixed; bottom: 0; left: 0; } 
    </style>
</div>
</div>
{% endblock %}