{% extends "base_usuario.html" %}
{% load static %}
{% block title %}Lista de Usuarios{% endblock %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/articles.css' %}">
<link rel="icon" href="{% static 'img/logoardecors.png' %}">

{% block content %}
{% include 'navbar.html' %}
<div class="home-section">
<div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <a href="{% url 'approve_users' %}" class="btn btn-primary mb-3">Aprobar Usuarios Pendientes</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userprofile.get_role_display }}</td>
                <td>
                    <a href="{% url 'user_edit' user.id %}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{% url 'user_delete' user.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'admin_dashboard' %}" class="btn btn-primary mb-3">Volver al Panel de Administración</a>
</div>

</div>
<footer>
    <h3>© 2024 ARDECORS - Todos los derechos reservados</h3>
</footer>
{% endblock %}