<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" href="{% static 'css/ventas.css' %}">
    <script src="{% static 'js/ventas.js' %}" defer></script>
</head>
<body>
    <div class="ventas-container">
        <h1>Lista de Ventas</h1>

            <h1>Crear Venta</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta.id }}</td>
                    <td>{{ venta.fecha }}</td>
                    <td>${{ venta.total }}</td>
                    <td><a href="{% url 'detalle_venta' venta.id %}">Ver Detalle</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No hay ventas disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'nueva_venta' %}" class="btn">Nueva Venta</a>
    </div>
</body>
</html>
