<!DOCTYPE html>
<html lang="es">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <link rel="icon" href="{% static 'img/logoardecors.png' %}">

    <head>
    <meta charset="UTF-8">
    <title>Ventas PDF</title>
    <style>
        body { font-family: Arial, sans-serif; }
        h1 { text-align: center; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
    
<body>
    <h1>Empresa de balones Ardecors</h1>
    <h2>Lista de Ventas</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha|date:"d/m/Y" }}</td>
                <td>{{ venta.cliente }}</td>
                <td>{{ venta.producto.nombre|default:"No especificado" }}</td>
                <td>{{ venta.cantidad }}</td>
                <td>${{ venta.precio_unitario|floatformat:2 }}</td>
                <td>${{ venta.total|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>

