<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="{% static 'img/logoardecors.png' %}">
<head>
    <meta charset="UTF-8">
    <title>Ventas PDF</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Lista de Ventas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha|date:"d/m/Y" }}</td>
                <td>{{ venta.cliente }}</td>
                <td>{{ venta.producto.nombre|default:"No especificado" }}</td>
                <td>{{ venta.cantidad }}</td>
                <td>${{ venta.precio_unitario|floatformat:2 }}</td>
                <td>${{ venta.total|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>